{% extends 'base.html.twig' %}

{% block body %}


    {% for category in categories %}
        <a href="{{ url('category_posts', {id: category.id}) }}"><h1>{{ category.name }}</h1></a>
        <a href="{{ url('category_edit',{id:category.id}) }}">EDYTUJ</a>
    {% endfor %}

{% endblock %}