<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {%  block footer %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('app_logout') }}">{{ 'label_logout'|trans }}</a>
        {% else %}
            <a href="{{ url('app_login') }}">{{ 'label_login'|trans }}</a>
        {% endif %}
        {% endblock %}
    </body>
</html>
