{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    {{ form(form) }}#}
{#    <br><a href="{{ url('posts') }}">Wróć</a><br>#}
{#{% endblock %}#}

{% include 'default/_form.html.twig' with {
    page_title: 'title_password_edit',
    page_title_param: {'%id%': user.id},
    attr: {
        method: 'PUT',
        action: url('change_password', {'id': user.id}),
    },
    back_to_list_path: 'posts',
} %}